<body class="userBody">
<% provide(:title, @user.name) %>
 
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
      <h1>
        
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <br>
      <h2>
        Hello, <%= @user.name %>
      </h2>
      <section class="stats">
        <%= render 'shared/stats' %> 
        </section> 
      <section class="micropost_form"> 
      <%= render 'shared/micropost_form' %> 
      </section> 
      
    </section>
     
  </aside>
  <div class="col-md-8"> 
  <h3>Micropost Feed</h3> 
  <%= render 'shared/feed' %> 
  </div> 
</div>


<% if current_user.admin? %>
  <h1> USER IS ADMIN </h1>
<% else %>
  <h1> USER IS REGULAR USER </h1>
<% end %>


</body>
