<!DOCTYPE html>
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body class="userBody">
<% provide(:title, @user.name) %>
 
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      
      
    </section>
     
  </aside>
  
</div>


<!--Map-->


<div style="height: 400px; width: 1000px" >
	<div id="googleMap" style="width:500px;height:380px;"></div>
	<p> Insert Map </p>

</div>

<!--Write posts-->
<section class="stats">
        <%= render 'shared/stats' %> 
        </section> 
      <section class="micropost_form"> 
      <%= render 'shared/micropost_form' %> 
</section> 

<!--Render posts-->
<div class="col-md-8"> 
<%= render 'follow_form' if logged_in? %>
<h3>Journal</h3> 
  <p>
  <%= render 'shared/feed' %> 
  
  </p>
</div> 

<!--Admin detection-->
<% if current_user.admin? %>
  <h1> USER IS ADMIN </h1>
<% else %>
  <h1> USER IS REGULAR USER </h1>
<% end %>


</body>
